.godot/
.import/

export.cfg
export_presets.cfg

*.tmp
*.log

.vscode/
.idea/

# Project-local editor copy used to isolate GodotSteam's Steamworks DLL.
tools/.local/
/NorthernLab.lnk
/NorthernLab - Godot.lnk
/NorthernLab - Editor.lnk
