.godot/
.import/

export.cfg
/build/

*.tmp
*.log
/.tmp_elevator_art_integration_test/

.vscode/
.idea/

# Project-local editor copy used to isolate GodotSteam's Steamworks DLL.
tools/.local/
/NorthernLab.lnk

# GodotSteam is a required project dependency, including native binaries.
# These negations also override broad DLL/SO rules from a user's global ignore.
!/addons/
!/addons/godotsteam/
!/addons/godotsteam/**
/addons/godotsteam/**/~*
